*{
    margin: 0px;
    padding: 0px;
}
nav{
    background: rgba(red, green, blue, alpha);
    height: 80px;
    width: 100%;
    color: bisque;
    position: fixed;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 5px;
    text-decoration: none;
}
nav ul li a{
    background-color: aliceblue;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}