ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: rgb(40, 2, 40);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
body{
    background-color: rgb(113, 113, 113);
}
.main{
    text-align: center;
}
.marq{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}